.search {
    display: flex;
    margin: 18vh 0 5vh 0;
    flex-direction: column;
    align-items: center;

    &__info {
        margin-bottom: 10px;

        span {
            &:nth-child(1) {
                font-size: 35px;
            }

            &:nth-child(3) {
                display: flex;
                justify-content: center;
                font-size: 15px;
            }
        }

    }

    div {
        border-radius: 28px;
        width: 500px;
    }
}