.Crypto {
    position: absolute;
    right: 1%;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;

    img {
        width: 40px;
        height: 40px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        width: 100%;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px 3px;

        &:hover {
            background-color: #e0e0e0;
            transition: 0.5s all;
        }
    }

    &__info {
        display: flex;
        margin-left: 16px;
        width: 100%;
        justify-content: space-between;
    }

    &__name {
        display: flex;
        flex-direction: column;
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__header {
        font-size: 20px;
    }

    &__subheader {
        font-size: 16px;
        margin-bottom: 20px;
    }

}