.Header {
    background-color: rgb(118, 118, 233);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    &__nav {
        margin: 0 auto;
        max-width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__menu {
            display: flex;
            align-items: center;

            &__item {
                color: white;
                margin-right: 20px;
                font-size: 15px;
                cursor: pointer;


            }
        }

        &__pic {
            img {
                width: 80px;
                height: 80px;
            }
        }
    }

}

.button {
    width: 130px;
    height: 50px;
    border-radius: 20px;
    border: none;

    &__white {
        color: black;
        background-color: white;
    }

    &__blue {
        background-color: blue;
    }

}